* {
    font-family: "Copperplate", sans-serif;
    color: yellow;
}

body {
    background-color: black;
}

h1 {
    text-align: center;
    font-size: 50px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ul, ol, p {
    font-size: 20px;
}

h3 {
    font-size: 25px;
}